Repository EnsembleUI/ensemble-react: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run format, npm run lint --

Copy custom scope objects when propagating to bindings (#987)
  .changeset/heavy-foxes-deny.md
  packages/framework/src/hooks/useCustomScope.tsx
  packages/framework/src/hooks/useEvaluate.ts
Due: npm run format, npm run lint --

fix: allow reset options on clear search
  .changeset/four-apples-beg.md
  packages/runtime/src/widgets/Form/MultiSelect.tsx
  packages/runtime/src/widgets/Search.tsx
Due: npm run format, npm run lint --

fix: update YAML
  apps/kitchen-sink/src/ensemble/screens/home.yaml
Due: npm run format

fix: added support for forceRefresh cache in invokeAPI
  .changeset/tidy-pants-kiss.md
  apps/kitchen-sink/src/ensemble/screens/home.yaml
  packages/framework/src/api/data.ts
  packages/framework/src/shared/actions.ts
  packages/runtime/src/runtime/hooks/__tests__/useInvokeApi.test.tsx
  packages/runtime/src/runtime/hooks/useEnsembleAction.tsx
Due: npm run format, npm run lint --

Fix custom widget regression and add tests
  packages/framework/src/hooks/useEvaluate.ts
  packages/framework/src/shared/__tests__/common.test.ts
  packages/framework/src/shared/common.ts
  packages/runtime/src/runtime/__tests__/customWidget.test.tsx
Due: npm run format, npm run lint --

Fix tests
  packages/runtime/src/runtime/__tests__/customWidget.test.tsx
Due: npm run format, npm run lint --

Add changeset
  .changeset/rich-rice-dream.md
Due: none

Fix custom widget regression and add tests (#993)
  .changeset/rich-rice-dream.md
  packages/framework/src/hooks/useEvaluate.ts
  packages/framework/src/shared/__tests__/common.test.ts
  packages/framework/src/shared/common.ts
  packages/runtime/src/runtime/__tests__/customWidget.test.tsx
Due: npm run format, npm run lint --

fix: added testcase for executeCode ensemble.invokeAPI
  packages/framework/src/api/data.ts
  packages/framework/src/hooks/useCommandCallback.ts
  packages/framework/src/shared/actions.ts
  packages/runtime/src/runtime/hooks/__tests__/useExecuteCode.test.tsx
  packages/runtime/src/runtime/hooks/__tests__/useInvokeApi.test.tsx
Due: npm run format, npm run lint --

fix: add test case for search clear
  .gitignore
  .vscode/settings.json
  .vscode/tasks.json
  packages/framework/jest.config.js
  packages/js-commons/jest.config.js
  packages/runtime/jest.config.js
  packages/runtime/src/widgets/Form/Date/__tests__/public/fonts/README.md
  packages/runtime/src/widgets/Form/Date/__tests__/public/fonts/fa-brands-400.eot
  packages/runtime/src/widgets/Form/Date/__tests__/public/fonts/fa-brands-400.svg
  packages/runtime/src/widgets/Form/Date/__tests__/public/fonts/fa-brands-400.ttf
  packages/runtime/src/widgets/Form/Date/__tests__/public/fonts/fa-brands-400.woff
  packages/runtime/src/widgets/Form/Date/__tests__/public/fonts/fa-brands-400.woff2
  packages/runtime/src/widgets/Form/Date/__tests__/public/fonts/fa-regular-400.eot
  packages/runtime/src/widgets/Form/Date/__tests__/public/fonts/fa-regular-400.svg
  packages/runtime/src/widgets/Form/Date/__tests__/public/fonts/fa-regular-400.ttf
  packages/runtime/src/widgets/Form/Date/__tests__/public/fonts/fa-regular-400.woff
  packages/runtime/src/widgets/Form/Date/__tests__/public/fonts/fa-regular-400.woff2
  packages/runtime/src/widgets/Form/Date/__tests__/public/fonts/fa-solid-900.eot
  packages/runtime/src/widgets/Form/Date/__tests__/public/fonts/fa-solid-900.svg
  packages/runtime/src/widgets/Form/Date/__tests__/public/fonts/fa-solid-900.ttf
  packages/runtime/src/widgets/Form/Date/__tests__/public/fonts/fa-solid-900.woff
  packages/runtime/src/widgets/Form/Date/__tests__/public/fonts/fa-solid-900.woff2
  packages/runtime/src/widgets/Form/__tests__/MultiSelect.test.tsx
  packages/runtime/src/widgets/Search.tsx
Due: npm run format, npm run lint --

fix: add test case for search clear
  packages/runtime/src/widgets/Form/__tests__/MultiSelect.test.tsx
  packages/runtime/src/widgets/Search.tsx
Due: npm run format, npm run lint --

fix: replace forceCache with bypassCache
  .changeset/tidy-pants-kiss.md
  packages/framework/src/api/data.ts
  packages/framework/src/shared/actions.ts
  packages/runtime/src/runtime/hooks/__tests__/useExecuteCode.test.tsx
  packages/runtime/src/runtime/hooks/__tests__/useInvokeApi.test.tsx
  packages/runtime/src/runtime/hooks/useEnsembleAction.tsx
Due: npm run format, npm run lint --

fix: added support for forceRefresh cache in invokeAPI (#992)
  .changeset/tidy-pants-kiss.md
  apps/kitchen-sink/src/ensemble/screens/home.yaml
  packages/framework/src/api/data.ts
  packages/framework/src/hooks/useCommandCallback.ts
  packages/framework/src/shared/actions.ts
  packages/runtime/src/runtime/hooks/__tests__/useExecuteCode.test.tsx
  packages/runtime/src/runtime/hooks/__tests__/useInvokeApi.test.tsx
  packages/runtime/src/runtime/hooks/useEnsembleAction.tsx
Due: npm run format, npm run lint --

fix: api state reflect
  .changeset/dirty-otters-camp.md
  packages/framework/src/hooks/useScreenData.ts
Due: npm run format, npm run lint --

998-added-support-for-reset-pickFile
  .changeset/tough-boats-bathe.md
  apps/kitchen-sink/src/ensemble/screens/actions.yaml
  packages/runtime/src/runtime/hooks/useEnsembleAction.tsx
Due: npm run format, npm run lint --

feat: add npm publishing workflow and update package metadata
  .github/workflows/release.yml
  packages/framework/README.md
  packages/framework/package.json
  packages/runtime/README.md
  packages/runtime/package.json
Due: none

fix: remove npm registry from the runtime package.json
  packages/runtime/package.json
Due: none

fix: added test
  packages/runtime/src/runtime/hooks/useEnsembleAction.tsx
  packages/runtime/src/widgets/__tests__/Button.test.tsx
Due: npm run format, npm run lint --

fix: added test
  packages/runtime/src/runtime/hooks/__tests__/useInvokeApi.test.tsx
Due: npm run format, npm run lint --

998-added-support-for-reset-pickFile (#1000)
  .changeset/tough-boats-bathe.md
  apps/kitchen-sink/src/ensemble/screens/actions.yaml
  packages/runtime/src/runtime/hooks/useEnsembleAction.tsx
  packages/runtime/src/widgets/__tests__/Button.test.tsx
Due: npm run format, npm run lint --

fix: test case improved
  packages/runtime/src/runtime/hooks/__tests__/useInvokeApi.test.tsx
Due: npm run format, npm run lint --

fix: move fireEvent from waitFor
  packages/runtime/src/runtime/hooks/__tests__/useInvokeApi.test.tsx
Due: npm run format, npm run lint --

feat: add secrets support in firestore app transporter
  .changeset/spotty-games-battle.md
  packages/js-commons/src/core/dto.ts
  packages/js-commons/src/core/firebase.ts
Due: npm run format, npm run lint --

fix: modularize icons
  .changeset/rich-avocados-type.md
  apps/kitchen-sink/package.json
  apps/kitchen-sink/src/App.tsx
  packages/framework/src/shared/dto.ts
  packages/runtime/package.json
  packages/runtime/src/EnsembleApp.tsx
  packages/runtime/src/__tests__/EnsembleApp.test.tsx
  packages/runtime/src/registry.tsx
  packages/runtime/src/runtime/menu.tsx
  packages/runtime/src/runtime/modal/index.tsx
  packages/runtime/src/shared/icons.tsx
  packages/runtime/src/shared/styles.ts
  packages/runtime/src/widgets/Avatar/Avatar.tsx
  pnpm-lock.yaml
Due: npm run format, npm run lint --

fix: added Icons in starterApp
  apps/starter/package.json
  apps/starter/src/ensemble/index.ts
  pnpm-lock.yaml
Due: npm run format, npm run lint --

fix: icons added in preview app
  apps/preview/package.json
  apps/preview/src/AppPreview.tsx
  pnpm-lock.yaml
Due: npm run format, npm run lint --

add secrets support in firestore app transporter (#1003)
  .changeset/spotty-games-battle.md
  packages/js-commons/src/core/dto.ts
  packages/js-commons/src/core/firebase.ts
Due: npm run format, npm run lint --

added support of dynamic searchKey in seach
  .changeset/fuzzy-houses-notice.md
  apps/kitchen-sink/src/ensemble/screens/home.yaml
  apps/kitchen-sink/src/ensemble/widgets/Header.yaml
  packages/runtime/src/widgets/Search.tsx
Due: npm run format, npm run lint --

doc: update readme for packages
  packages/framework/README.md
  packages/runtime/README.md
Due: none

update: add test-workflow branch and filter packages for build
  .github/workflows/release.yml
Due: none

fix: publish command and remove additional test branch
  .github/workflows/release.yml
Due: none

test: publish to npm registry workflow
  .github/workflows/publish-to-npm.yml
Due: none

fix: set publishing branch for testing purposes
  .github/workflows/publish-to-npm.yml
Due: none

fix: delete .npmrc file if it exists
  .github/workflows/publish-to-npm.yml
Due: none

fix: add no-git-checks flag to publish command to ignore the overridden npmrc file
  .github/workflows/publish-to-npm.yml
Due: none

improve: handle preventing previously published packages
  .github/workflows/publish-to-npm.yml
  .github/workflows/release.yml
Due: none

improve: prevent publishing previously published packages
  .github/workflows/publish-to-npm.yml
  .github/workflows/release.yml
Due: none

feat: add npm publishing workflow and update package metadata (#1001)
  .github/workflows/release.yml
  packages/framework/README.md
  packages/framework/package.json
  packages/runtime/README.md
  packages/runtime/package.json
Due: none

fix: add pnpm setup in the publish-to-npm job
  .github/workflows/release.yml
Due: none

fix: add pnpm setup to publish-to-npm job (#1009)
  .github/workflows/release.yml
Due: none

Path conditions:
  npm run format: (any of: *.{js,ts,tsx}) or (any of: *.yaml)
  npm run lint --: any of: *.{js,ts,tsx}
